<div class="row">
    <div class="col-lg-3">
        <div class="wrapper-left">
            <app-navbar></app-navbar>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="wrapper">
            <h2 class="text-center">Profile</h2>
            <form>
                <div class="form-group">
                    <label for="">user name</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{UserInfo.username}}">
                </div>
                <div class="form-group">
                    <label for="">email</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{UserInfo.email}}">
                </div>
                <div class="form-group">
                    <label for="">contact number</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{UserInfo.contactNumber}}">
                </div>
                <div class="form-group">
                    <label for="">first name</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{UserInfo.firstName}}">
                </div>
                <div class="form-group">
                    <label for="">last name</label>
                    <input class="form-control" type="text" name="" id="" readonly value="{{UserInfo.lastName}}">
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>
