.wrapper{
    background-color: lightblue;
    border-radius: 10px;
    padding:20px;
    box-shadow: grey;
    border: solid 2px black;
}

.wrapper-left{
    padding-top:20px;
    padding-left:20%;
    padding-right:20%;
    border-right: grey solid 1px;
    height: 100%;
}